<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
        <title> </title>
    </head>

    <body>
    
<h1>订单上传</h1>
<form method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	{{uf}}
	<input type="submit" value="上传到数据库" name="upload_order"/>
</form>
	
<h1>代理订单删除，谨慎操作！！！！</h1>
<form method="post">
	{% csrf_token %}
	<input type="submit" value="删除所有订单" name="delete_order"/>
</form>

<h1>代理信息上传</h1>
	<form action="" method="post" enctype="multipart/form-data" >
		{% csrf_token %}
		{{ agent_file }}

		<input type="submit" value="上传到数据库" name="upload_agent"/>
	</form>



<h1>订单查询</h1>
<form action="/upload" method="post">
  {% csrf_token %}
     起始日期：<input type="date" value="2017-05-01" name="qstart">
     结束日期：<input type="date" value="2017-05-31" name="qend">
  <input type="submit" value="搜索订单">
</form>


<h1>{{ order_list }}</h1>

</body>	
</html>