<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>订单上传、查询</h1>
<form method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	{{uf.as_p}}
	<input type="submit" value="上传到数据库"/>
</form>

<form action="/upload" method="post">
  {% csrf_token %}
     起始日期：<input type="date" value="2017-05-01" name="qstart">
     结束日期：<input type="date" value="2017-05-31" name="qend">
  <input type="submit" value="搜索订单">
</form>

<h1>{{ order_list }}</h1>
</body>	
</html>