<!DOCTYPE html>
{% load static %}

<html lang="zh-CN">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">   
		
	<link rel="stylesheet" href="{% static "js/bootstrap-table-group-by.css" %}">

		
  </head>
  
  <body>
    <h1>代理佣金计算系统</h1> version 0.9<br />
    hello world! <strong>{{ boldmessage }}</strong><br />
        
    <h1><a href="/upload/">数据上传 查询 删除</a><br /></h1>
    <h1></h1>
    <h1><a href="/payslip/">工资计算 下载</a><br /></h1>
    <h1></h1>
    <h1><a href="/admin/">后台数据管理</a><br /></h1>


<div class="container">
    <h1>Bootstrap Table Examples <a href="https://github.com/wenzhixin/bootstrap-table-examples" class="btn btn-primary" role="button" target="_blank">Learn more &raquo;</a></h1>
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
            <i class="glyphicon glyphicon-remove"></i> Delete
        </button>
    </div>
    <table id="agent_table"></table>
</div>

<p>This is a example</p>
<button id="about-btn"> Test Click Me - I'm Javascript on Speed</button>
<p>This is another example</p>

        
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>       
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
	
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="{% static "js/tabletree.js" %}"></script>
<!-- <script src="{% static "js/test.js" %}"></script> -->
<script src="{% static "js/bootstrap-table-group-by.js" %}"></script>
	

<script>
	$('#agent_table').bootstrapTable({
//		  url: ActionUrl + 'GetMenuList',
        groupBy: true,
        groupByField: 'name',        
        toolbar: '#toolbar',
        sidePagination: 'client',
        pagination: false,
        treeView: true,
        treeId: "id",
        treeField: "name",
        treeRootLevel: 1,
        clickToSelect: true,
        collapseIcon: "glyphicon glyphicon-triangle-right",//折叠样式
        expandIcon: "glyphicon glyphicon-triangle-bottom",//展开样式

		columns: [{
	        field: 'id',		
	        title: 'Item IDs'
	    }, {
	        field: 'name',
	        title: 'Item Name'
	    }, {
	        field: 'price',
	        title: 'Item Price'
	    }],
	    data: [{
	    	id: 1,
	    	name: 'Item 1',
	    	price: '$1',
	        ParentId: null, 
	        Level: 1
	    }, {
	    	id: 2,
	        name: 'Item 2',
	        price: '$1222',
	        ParentId: 1, 
	        Level: 2
	    },{id: 3, name: "订单管理",price: '$33333',ParentId: 2, Level: 2}
	     ,{id: 4, name: "AAA",price: '$33333',ParentId: 2, Level: 2}
	     ,{id: 5, name: "AAA",price: '$44',ParentId: 2, Level: 2}
	     ,{id: 6, name: "AAA",price: '$7567',ParentId: 2, Level: 2}
	    ]
	});
</script>
		  
  </body>
</html>