<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>买买买分享网</title>
</head>
<body>
    <form action="/payslip/" method="post">
  			{% csrf_token %}
  			{{ form_period.as_p }}
<!--      		计算月份：<input type="month" name="sel_period"> -->  			
  			<input type="submit" value="显示当前期间佣金" name="display_income">
  			<input type="submit" value="重新计算当前期间佣金" name="calculate_income"/>
    </form>

<h1>收入统计结果：</h1>
<h1>期间总收入（所有导入数据）： {{ Incometotal }}</h1>
<table summary="AgentOrder" border="1" width="80%" align="left">
	<tbody>
		<tr>
		<th colspan="2">代理</th>
		<th colspan="2">代理上线</th>
<!-- 		<th colspan="2">代理上上线</th> -->
		<th>自获佣金比例</th>
		<th>贡献上级佣金比例</th>
		<th>贡献上上级佣金比例</th>		
		<th>自获佣金</th>
		<th>一级下线贡献佣金</th>
		<th>二级下线贡献佣金</th>
		<th>总佣金</th>
		<th>明细链接</th>
		</tr>
        {% if form_agent %}

                {% for AliConfig in form_agent %}
				<tr>	
                
                <td align="right">{{ AliConfig.AgentId.AgentId }}</td>
				<td align="right">{{ AliConfig.AgentId.AgentName }}</td>
				<td align="right">{{ AliConfig.AgentUpId.AgentId }}</td>
				<td align="right">{{ AliConfig.AgentUpId.AgentName }}</td>
				<td align="right" width="100">{{ AliConfig.AgentPerc}}</td>
				<td align="right" width="100">{{ AliConfig.Agent2rdPerc }}</td>
				<td align="right" width="120">{{ AliConfig.Agent3rdPerc }}</td>
				<td align="right">{{ AliConfig.IncomeSelf }}</td>	
				<td align="right">{{ AliConfig.IncomeLv1 }}</td>
				<td align="right">{{ AliConfig.IncomeLv2 }}</td>
				<td align="right">{{ AliConfig.IncomeTotal }}</td>
				<td align="right"><a href="/payslip/{{ AliConfig.Slug }}">点我查看明细</a></td>
				</tr>
                	

                {% endfor %}

        {% else %}
            <strong>There are no Agent present.</strong>
        {% endif %}
	</tbody>
</table>               	
        
</body>
</html>
